#input {
    width: 40em;
}

#messages {
    background-color: #B3C1FF;
    margin-bottom: 1em;
}

#users {
    background-color: #D3D3D3;
    padding: 0.5em;
    border: 1px solid black;
    margin: 0;
}

#notify {
    background-color: #FFBFBF;
    margin-bottom: 1em;
}

/*.userheader {
    color: #7A7A7A;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}*/

p {
    margin:0.3em;
    padding: 0;
    border: 0;
}

#login {
    display: block;
}

#chatroom {
    display: none;
}

#user-list-header {
    background-color: #C390D4;
}
